<%= flash[:notice] %>
<div class="grid_12">
  <% form_tag 'create_query' do%>

    <%=label_tag( :subject, "Subject:") %><%=select_tag :subject, "<option selected='selected'>Interface Complaint</option> <option>Main Site Inquiry/Problems</option><option>Account Settings Inquiry</option><option>Ward Information Inquiry</option><option>Ward Addition Inquiry/Problems</option><option>Miscellaneous</option>"  %><br/>
    <%=label_tag( :subject, "Message:") %><br/>
    
      <% if params[:user_id].nil? %>
        <%=text_area_tag(  :message,"", :size => "60x10") %>
<% else %>
        <%=text_area_tag(  :message,"Reporting #{(User.find(params[:user_id])).nickname} with UserId #{params[:user_id]}",:size => "60x10") %>
    <% end %>
    
    
    <br/>
    <%=submit_tag("Submit") %>
  <% end %>
    
      
      
</div>