<div style=" width:10000px; ">

  <div id="<%= "m5#{profile.idNo}" %>" style="float:left; width:920px;display:block;">

    <div style=" width:800px;margin: 0px auto;">
      <h1>The Guidance Center</h1>
					<span class="sml"><p>The Guidance Center is a sector of the
university that endeavors to help students and other members of the
academic community in their decision making and coping. This is realized
through its Counseling, Information, Placement and Testing services.
Programs designed to further reach out to the students are regularly
undertaken: group and individual guidance for those with academic
difficulties, lecture-workshops for life enhancement, and management
of private scholarships and financial assistance for deserving students.
The Psychological Testing Unit handles the psychological assessment
and evaluation of students to arrive at a better self-insight. The
SLU-Guidance Extension Services assist a number of outlying high
schools in their guidance needs.</p><br/><p><b> Listed below are the Guidance office sevices your ward has availed of.</b></span>

<% if @guidances.size >0 %>
 <table border="1" cellspacing="0" cellpadding="0" width="741" class="c">
        <tr class="d">
          <td width="96" valign="top"><p>Time</p></td>
          <td width="96" valign="top"><p>Day</p></td>
          <td width="103" valign="top" ><p>Room</p></td>
          <td width="324" valign="top" ><p>Guidance Status</p></td>
              </tr>
            <% @guidances.each do |guidance| %>

          <tr><td><%= guidance.time %></td>
            <td><%= guidance.day %></td>
            <td><%= guidance.room %></td>
            <td><%= guidance.guidanceStatus %></td>
            
      
        <% end %>
        </tr>
        <% else %>
         <table border="1" cellspacing="0" cellpadding="0" width="741" class="c">
            <tr class="d">Your ward has not yet participated in any Guidance Office service.</tr></table>
  <% end %>

      </table>

    </div>

  </div>
</div>


