<div class="grid_12" id="q">
  <div style=" ">
    <div class="f_stuffies"><%= link_to "<img src=#{(get_follower(profile.idNo)).photo.url(:small)}  alt='change me!'/>",  
  change_photo_path(:id=>profile.idNo)  %></div>
  </div>

  <div class="t_tab" href="#q">
  <div style="float:right; margin-right:30px;">
   
</div>
 
    <span class="f_name"><%= profile.fullname %> - Enrolled</span><br/>
    <span class="f_idno"><%= profile.idNo %></span><br/>
    <span class="f_course"><%= profile.yrcourse %></span>
  
  </div>

  </div>

  <span class="handle"><b>[Drag this text to move <%=  profile.givenName%>]</b></span>
