
<div class="grid_12"id="FAQS">

<h1 align="center"><%= t :faq_header %></h1>

             <p><strong><%= t :faq_q1 %></strong></p>
           <blockquote>
             <p><%= t :faq_a1 %></p>
           </blockquote>
             <p><strong><%= t :faq_q2 %></strong></p>
           <blockquote>
             <p><%= t :faq_a2 %></p>
           </blockquote>
             <p><strong><%= t :faq_q3 %></strong></p>
           <blockquote>
             <p><%= t :faq_a3 %></p>
           </blockquote>
             <p><strong><%= t :faq_q4 %></strong></p>
           <blockquote>
             <p><%= t :faq_a4 %></p>
           </blockquote>
             <p><strong><%= t :faq_q5 %></strong></p>
           <blockquote>
             <p><%= t :faq_a5 %></p>
           </blockquote>
             <p><strong><%= t :faq_q6 %></strong></p>
           <blockquote>
             <p><%= t :faq_a6 %></p>
           </blockquote>
             <p><strong><%= t :faq_q7 %></strong></p>
           <blockquote>
             <p><%= t :faq_a7 %></p>
           </blockquote>
             <p><strong><%= t :faq_q8 %></strong></p>
           <blockquote>
             <p><%= t :faq_a8 %></p>
           </blockquote>
             <p><strong><%= t :faq_q9 %></strong></p>
           <blockquote>
             <p><%= t :faq_a9 %></p>
           </blockquote>
             <p><strong><%= t :faq_q10 %></strong></p>
           <blockquote>
             <p><%= t :faq_a10 %></p>
           </blockquote>
           <p><strong><%= t :faq_q11 %></strong></p>
           <blockquote>
             <p><%= t :faq_a11 %></p>
           </blockquote>
           <p><strong><%= t :faq_q12 %></strong></p>
           <blockquote>
             <p><%= t :faq_a12 %></p>
           </blockquote>
           <p><strong><%= t :faq_q13 %></strong></p>
           <blockquote>
             <p><%= t :faq_a13 %></p>
           </blockquote>
             <p><strong><%= t :faq_q14 %></strong></p>
           <blockquote>
             <p><%= t :faq_a14 %></p>
           </blockquote>
             <p><strong><%= t :faq_q15 %></strong></p>
           <blockquote>
             <p><%= t :faq_a15 %></p>
           </blockquote>
           <p><strong><%= t :faq_q16 %></strong></p>
           <blockquote>
             <p><%= t :faq_a16 %></p>
           </blockquote>
             <p><strong><%= t :faq_q17 %></strong></p>
           <blockquote>
             <p><%= t :faq_a17 %></p>
           </blockquote>
             <p><strong><%= t :faq_q18 %></strong></p>
           <blockquote>
             <p><%= t :faq_a18 %></p>
           </blockquote>
             <p><strong><%= t :faq_q19 %></strong></p>
           <blockquote>
             <p align="justify"><%= t :faq_a19 %></p>
           </blockquote>
		<br/><br/>

        <span><%= t :faq_footer1 %><a href="faqs.html"> <%= t :faq_footer2 %> </a><%= t :faq_footer3 %></span>



		</div> 