<div class="grid_12" >
  
</div><div class="grid_12" >
<h1 >The OASIS site map.</h1>
<span class="sml">	</span>
<div>
  <ul class="sml" style="text-align:left; list-style:square; margin-left:50px; font-size:15pt;">
    <li><%= link_to "Register", signup_path %></li>
    <% if logged_in?  %>
    <li><%= link_to "Wards Page", root_path %></li>
  <% else %>
    <li><%= link_to "Login", root_path %></li>
    <% end %>
                                    
    <li><%= link_to "Minimum Site Requirements", reqs_path%></li>
    <li><%= link_to "Lost Password", reset_password_path %></li>
    <li><a href="http://www.slu.edu.ph/">About Saint Louis University</a></li>
    <li><%= link_to "About OASIS", about_path %></li>
    <li><%= link_to "FAQS", faq_path %></li>
  </ul>
</div> 
