<div class="grid_8" id = "reg">
		<div id="sos3"></div>
		<div id="top_r"></div>
		<div id="side_r">
          <b><%= t :reg3_message %></b> <span id="ward"> <%= flash[:notice] %> </span><b><%= reg3_message2 %></b><br/>

<%= link_to "Click here to view profile.", wards_path %>
		

		</div>
		<div id="bot_r"></div>
	</div>

	<div class="grid_4" id ="tehside_r">
      <div id="par3"><p><%= t :side_r2 %></p></div>
		<div id="pic_r3"></div>

	</div>